<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Fri Mar 01 15:01:45 CST 2013-->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>			
		<!--  flow -->
		<typeAlias alias="Route" type="com.maicard.flow.entity.Route"/>
 		
		<typeAlias alias="Workflow" type="com.maicard.flow.entity.Workflow"/>
 		
		<typeAlias alias="WorkflowInstance" type="com.maicard.flow.entity.WorkflowInstance"/>
 
		<typeAlias alias="WorkflowInstanceLog" type="com.maicard.flow.entity.WorkflowInstanceLog"/>
 
		<typeAlias alias="WorkflowPrivilege" type="com.maicard.flow.entity.WorkflowPrivilege"/>
 				
	</typeAliases>
</configuration>